{% extends "base.html" %}

{% block extrahead %}
<meta name="description" content="{{ article.summary }}">
<meta name="keywords" content="{{ article.keywords }}">

<meta property="og:title" content="{{ article.title }}">
<meta property="og:type" content="article">
<meta property="og:image" content="{{ article.main_image_url }}">
<meta property="og:description" content="{{ article.summary }}">
<meta property="og:site_name" content="Urban Scars">
{% endblock %}

{% block htmltitle %}
{{ article.title }} - Urban Scars
{% endblock %}

{% block main %}
<article class="full">
  <div class="article-city">{{ article.city }}</div>
  <div class="article-date">{{ article.date.strftime('%b %d %Y') }}</div>
  <div class="article-summary">
    <h1>{{ article.title }}</h1>
    <div class="article-byline">By <strong>{{ article.author }}</strong></div>
  </div>
  <div class="article-body">
    {{ article.body|safe }}
  </div>
</article>
{% endblock %}
