{% extends "base.html" %}

{% block htmltitle %}
{{ article.title }} - Urban Scars
{% endblock %}

{% block main %}
<article class="full">
  <div class="article-city">{{ article.city }}</div>
  <div class="article-date">{{ article.date }}</div>
  <div class="article-summary">
    <h1>{{ article.title }}</h1>
    <div class="article-byline">By <strong>{{ article.author }}</strong></div>
    <p>
      {{ article.summary }}
    </p>
  </div>
  <div class="article-body">
    {{ article.body|safe }}
  </div>
</article>
{% endblock %}
